.OneHotel__container {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 166px 30px 30px 346px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: auto;
    gap: 25px;
}

.oneHotel__sectionOne {
    display: flex;
    flex-direction: column;
    color: var(--text-color-gray);
    gap: 10px;
}

.oneHotel__sectionOne h2 {
    font-size: 24px;
    font-weight: 800;
}

.oneHotel__sectionOne p {
    font-size: 14px;
}